<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Task list</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/todo.js"></script>
  </head>
  <body>
    <header><p>Task list</p></header>
    <div ng-controller="cntrl as todo">
    <div id="setting">
      <span class="active">Active: {{todo.remaining()}} of {{todo.todos.length}}</span>
      <span class="clean" ng-if="todo.todos.length > 0"><a href="" ng-click="todo.archive()">clean inactive</a></span>
    </div>
      
     <form ng-submit="todo.addTodo()">
        <input type="text" ng-model="todo.todoText" placeholder="Add a task" required>
        <input class="btn-primary" type="submit" value="Add">
      </form>

      <ul>
        <li ng-repeat="todo in todo.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
   
    </div>
  </body>
</html>